# Среда разработки (Virtual Environment)
venv/
ENV/
env/

# Результаты работы модели
# Игнорируем всё содержимое папки, кроме файла .gitkeep
output/*
!output/.gitkeep

# Веса моделей и чекпоинты
# Игнорируем всё содержимое папки, кроме файла .gitkeep
models/*
!models/.gitkeep

# Python (Кэш и временные файлы)
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/

# Конфиденциальные данные и настройки IDE
.env
.vscode/
.idea/

# Логи и системные файлы
*.log
.DS_Store
Thumbs.db
